@media (max-width: 991px) { 
header .navbar {
width: 100%;
height: 100%;
}

header .navbar .logo a {
font-size: 22px;
}

header .navbar .navbar-links .links li {
padding: 0 10px;
}

header .navbar .navbar-links {
display: block;
position: fixed;
top: 0;
left: -100%;
background: #1565ca;
max-width: 270px;
width: 100%;
padding: 20px;
line-height: 40px;
transition: all 0.5s ease;
z-index: 99;
}

header .navbar .logo {
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
}
.navigation .container {
height: 100%;
}
header .navbar .logo i {
display: block;
cursor: pointer;
}
header .navbar .navbar-links .sidebar-logo {
display: flex;
align-items: center;
justify-content: space-between;
}

header .navbar .navbar-links .sidebar-logo a {
font-size: 24px;
font-weight: bold;
color: #fff;
}

header .navbar .navbar-links .sidebar-logo i {
font-size: 24px;
color: #fff;
cursor: pointer;
padding: 5px;
width: 100%;
text-align: right;
}

header .navbar .navbar-links .links {
display: block;
margin-top: 20px;
}

header .navbar .navbar-links .links li {
display: block;
line-height: 40px;
}

header .navbar .navbar-links .links li i.fa-chevron-down {
line-height: 40px;
}

header .navbar .navbar-links .links .sub-menu {
display: none;
position: relative;
top: 0;
left: 0;
box-shadow: none;
}
header .navbar .navbar-links .links .sub-menu li {
border: none;
}

header .navbar .navbar-links .links .sub-menu li.more-submenu {
position: relative;
}

header .navbar .navbar-links .links .sub-menu li.more-submenu .more-sub-menu {
display: none;
position: relative;
left: 0;
top: 0;
}

header .navbar .navbar-links .links li:hover .sub-menu {
display: none;
}

header .navbar .navbar-links .links li:hover .sub-menu,
header
.navbar
.navbar-links
.links
.sub-menu
.more-submenu:hover
.more-sub-menu {
display: none;
}

header .navbar .navbar-links .links li i.fa-chevron-down,
header .navbar .navbar-links .links li:hover i.fa-chevron-down {
transform: rotate(0deg);
}

header .navbar .navbar-links .links .sub-menu li i.fa-chevron-down {
transform: rotate(-90deg);
}

header .navbar .navbar-links .links li.active .sub-menu {
display: block;
}

header .navbar .navbar-links .links li.active > i {
transform: rotate(-180deg);
}
header .navbar .navbar-links .links li.active:hover > i {
transform: rotate(-180deg);
}

header .navbar .navbar-links .links .sub-menu li .more-sub-menu {
display: none;
}
header .navbar .navbar-links .links .sub-menu li i {
transform: rotate(-90deg);
}
header
.navbar
.navbar-links
.links
li.active
.sub-menu
li.show-menu
.more-sub-menu {
display: block;
}

header .navbar .navbar-links .links .sub-menu li.show-menu i.fa-chevron-down {
transform: rotate(0deg);
}
header.nav-fix {
padding: 10px 0;
}
.navigation {
padding: 10px 0;
}
header .navbar .navbar-links .links li a {
color: #fffcfc;
}
header .navbar .navbar-links .links li > i.fa-chevron-down {
color: #fff;
}
header .navbar .logo img{
width: 225px;
}
.get-in {
padding: 3px 20px;
}
}

/*Thankyou-css-repsonsive start*/

@media (max-width: 992px) {
    .thankyoubnr-text {
        padding: 0 0 49px 0;
    }
}

@media (max-width: 820px) {
    .thankyoubnr-text {
        padding: 0 0 20px 0;
    }

    .arrow-down {
        transform: translate(0, 80px);
    }
}

@media (max-width: 767px) {
    .thankyoubnr-text p {
        font-size: 13px;
    }

    .researchgrid.two {
        padding: 34px 28px 28px 16px;
    }

    .researchgrid-text h2 {
        font-size: 25px;
        margin-left: 15px;
    }

    .researchgrid-content {
        margin-left: 15px;
    }
}

@media (max-width: 575px) {
    .researchgrid {
        grid-template-columns: 1fr;
        justify-items: baseline;
    }

    .section-heading {
        font-size: 15px;
    }

    .researchgrid .researchgrid-picture {
        grid-area: 1;
    }

    .research-btn.second {
        justify-content: start;
    }

    .researchgrid.two {
        justify-items: baseline;
    }

    .researchgrid {
        padding: 30px 20px;
    }

    .researchgrid-picture img {
        width: 100%;
    }

    .researchgrid .researchgrid-text {
        width: 100%;
    }

    .researchgrid .researchgrid-picture {
        grid-area: 1;
        width: 100%;
    }

    .researchgrid-picture.first img {
        width: 100%;
    }

    .speak-section .right-circle.left {
        top: -170px;
    }

    .speak-section .left-circle {
        left: -40px;
        bottom: -13%;
    }

}

@media (max-width: 480px) {
    .thankyousvg-banner img {
        width: 100%;
        height: 144px !important;
        object-fit: cover;
        max-width: 100%;
    }
}

/*Thankyou-css-repsonsive end*/