@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-ExtraBold.eot');
    src: url('../fonts/Hauora-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hauora-ExtraBold.woff2') format('woff2'),
        url('../fonts/Hauora-ExtraBold.woff') format('woff'),
        url('../fonts/Hauora-ExtraBold.ttf') format('truetype'),
        url('../fonts/Hauora-ExtraBold.svg#Hauora-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-Light.eot');
    src: url('../fonts/Hauora-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hauora-Light.woff2') format('woff2'),
        url('../fonts/Hauora-Light.woff') format('woff'),
        url('../fonts/Hauora-Light.ttf') format('truetype'),
        url('../fonts/Hauora-Light.svg#Hauora-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-ExtraLight.eot');
    src: url('../fonts/Hauora-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hauora-ExtraLight.woff2') format('woff2'),
        url('../fonts/Hauora-ExtraLight.woff') format('woff'),
        url('../fonts/Hauora-ExtraLight.ttf') format('truetype'),
        url('../fonts/Hauora-ExtraLight.svg#Hauora-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-Regular.eot');
    src: url('../fonts/Hauora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hauora-Regular.woff2') format('woff2'),
        url('../fonts/Hauora-Regular.woff') format('woff'),
        url('../fonts/Hauora-Regular.ttf') format('truetype'),
        url('../fonts/Hauora-Regular.svg#Hauora-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-Bold.eot');
    src: url('../fonts/Hauora-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hauora-Bold.woff2') format('woff2'),
        url('../fonts/Hauora-Bold.woff') format('woff'),
        url('../fonts/Hauora-Bold.ttf') format('truetype'),
        url('../fonts/Hauora-Bold.svg#Hauora-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-SemiBold.eot');
    src: url('../fonts/Hauora-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hauora-SemiBold.woff2') format('woff2'),
        url('../fonts/Hauora-SemiBold.woff') format('woff'),
        url('../fonts/Hauora-SemiBold.ttf') format('truetype'),
        url('../fonts/Hauora-SemiBold.svg#Hauora-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-Medium.eot');
    src: url('../fonts/Hauora-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hauora-Medium.woff2') format('woff2'),
        url('../fonts/Hauora-Medium.woff') format('woff'),
        url('../fonts/Hauora-Medium.ttf') format('truetype'),
        url('../fonts/Hauora-Medium.svg#Hauora-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

